body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    background-color: rgb(252, 252, 252);
}

body p {
    color: #575757;
    font-size: 20px;
}

body h1 {
    font-size: 60px;
}

#navigation {
    text-align: center;
    background-color: #516C77;
}

#navigation a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 100px;
    color: rgb(255, 255, 255);
    width: 100px;
    display: inline-block;
}

#navigation a:hover {
    background-color: #3F555D;
}

.new-color {
    color: #1E81DD;
}

#repeat {
    padding-left: 40%;
    margin-top: -10%;
    display: block;
}

#intro h1 {
    color: #DC3A1E;
    font-size: 60px;
}

#intro {
    display: flex;
    text-align: justify;
}

.half-width {
    width: 40%;
    margin: 0 70px 0 70px;
}

.half-width img {
    width: 100%;
    border: 12px solid #DC3A1E;
    border-radius: 30px;
    margin: 20px 0px 0px 0px;
}

.half-width a {
    margin-top: 20px;
    display: inline-block;
    margin-left: 40%;
}

.button {
    background-image: linear-gradient(to left, #DE2A1F, #DE8C1F);
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

#about-us {
    display: flex;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
}

#about-us h1 {
    color: #DC3A1E;
    text-align: center;
}

#recipies {
    margin: 10px 40px;
}

#recipies h1 {
    color: #6a5acd;
}

#recipie-desc {
    text-align: center;
}

#recipie-desc p {
    margin-top: -25px;
    font-size: 20px;
}

#triple-pic {
    display: flex;
}

#triple-pic img {
    width: 100%;
    height: 60%;
    border-radius: 15px;
}

#triple-pic h3 {
    color: #DC3A1E;
    font-size: 25px;
}

#triple-pic p {
    font-size: 15px;
    margin: -10px;
    text-align: justify;
}

.recipie-pic {
    padding: 30px;
    margin: 20px;
    box-shadow: 1px 1px 20px rgb(212, 209, 209);
    border-radius: 25px;
}

#vlog h1 {
    color: #DC3A1E;
}

#vlog {
    text-align: center;
    background-image: url(images/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 30px;
}

#vlog iframe {
    border: 10px solid #FFCB1F;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #293241;
    padding: 4%;
}

footer h2 {
    color: #1F78FF;
    font-size: 20px;
    text-transform: uppercase;
}

footer p {
    color: #C2DAFF;
    font-size: 15px;
    text-transform: capitalize;
}